<%= form_for(@card) do |f| %>
  <% if @card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% @card.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :layout %><br>
    <%= f.text_field :layout %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :colors %><br>
    <%= f.text_field :colors %>
  </div>
  <div class="field">
    <%= f.label :multiverseid %><br>
    <%= f.number_field :multiverseid %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :cmc %><br>
    <%= f.text_field :cmc %>
  </div>
  <div class="field">
    <%= f.label :rarity %><br>
    <%= f.text_field :rarity %>
  </div>
  <div class="field">
    <%= f.label :artist %><br>
    <%= f.text_field :artist %>
  </div>
  <div class="field">
    <%= f.label :manaCost %><br>
    <%= f.text_field :manaCost %>
  </div>
  <div class="field">
    <%= f.label :oracleText %><br>
    <%= f.text_area :oracleText %>
  </div>
  <div class="field">
    <%= f.label :collectorNumber %><br>
    <%= f.text_field :collectorNumber %>
  </div>
  <div class="field">
    <%= f.label :imageName %><br>
    <%= f.text_field :imageName %>
  </div>
  <div class="field">
    <%= f.label :legalities %><br>
    <%= f.text_field :legalities %>
  </div>
  <div class="field">
    <%= f.label :printings %><br>
    <%= f.text_field :printings %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
