<h1>Listing mtg_sets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Releasedate</th>
      <th>Border</th>
      <th>Type</th>
      <th>Block</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @mtg_sets.each do |mtg_set| %>
      <tr>
        <td><%= mtg_set.name %></td>
        <td><%= mtg_set.code %></td>
        <td><%= mtg_set.releaseDate %></td>
        <td><%= mtg_set.border %></td>
        <td><%= mtg_set.type %></td>
        <td><%= mtg_set.block %></td>
        <td><%= link_to 'Show', mtg_set %></td>
        <td><%= link_to 'Edit', edit_mtg_set_path(mtg_set) %></td>
        <td><%= link_to 'Destroy', mtg_set, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mtg set', new_mtg_set_path %>
