<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @mtg_set.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @mtg_set.code %>
</p>

<p>
  <strong>Releasedate:</strong>
  <%= @mtg_set.releaseDate %>
</p>

<p>
  <strong>Border:</strong>
  <%= @mtg_set.border %>
</p>

<p>
  <strong>Type:</strong>
  <%= @mtg_set.type %>
</p>

<p>
  <strong>Block:</strong>
  <%= @mtg_set.block %>
</p>

<%= link_to 'Edit', edit_mtg_set_path(@mtg_set) %> |
<%= link_to 'Back', mtg_sets_path %>
